/* normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ========================================================================== HTML5 display definitions ========================================================================== */
/* Corrects `block` display not defined in IE6/7/8/9 & FF3. */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }

/* Corrects `inline-block` display not defined in IE6/7/8/9 & FF3. */
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

/* Prevents modern browsers from displaying `audio` without controls. Remove excess height in iOS5 devices. */
audio:not([controls]) { display: none; height: 0; }

/* Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4. Known issue: no IE6 support. */
[hidden] { display: none; }

/* ========================================================================== Base ========================================================================== */
/* 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using `em` units. 2. Prevents iOS text size adjust after orientation change, without disabling user zoom. */
html { font-size: 100%; /* 1 */ -webkit-text-size-adjust: 100%; /* 2 */ -ms-text-size-adjust: 100%; /* 2 */ }

/* Addresses `font-family` inconsistency between `textarea` and other form elements. */
html, button, input, select, textarea { font-family: sans-serif; }

/* Addresses margins handled incorrectly in IE6/7. */
body { margin: 0; }

/* ========================================================================== Links ========================================================================== */
/* Addresses `outline` inconsistency between Chrome and other browsers. */
a:focus { outline: thin dotted; }

/* Improves readability when focused and also mouse hovered in all browsers. people.opera.com/patrickl/experiments/keyboard/test */
a:active, a:hover { outline: 0; }

/* ========================================================================== Typography ========================================================================== */
/* Addresses font sizes and margins set differently in IE6/7. Addresses font sizes within `section` and `article` in FF4+, Chrome, S5. */
h1 { font-size: 2em; margin: 0.67em 0; }

h2 { font-size: 1.5em; margin: 0.83em 0; }

h3 { font-size: 1.17em; margin: 1em 0; }

h4 { font-size: 1em; margin: 1.33em 0; }

h5 { font-size: 0.83em; margin: 1.67em 0; }

h6 { font-size: 0.75em; margin: 2.33em 0; }

/* Addresses styling not present in IE7/8/9, S5, Chrome. */
abbr[title] { border-bottom: 1px dotted; }

/* Addresses style set to `bolder` in FF3+, S4/5, Chrome. */
b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

/* Addresses styling not present in S5, Chrome. */
dfn { font-style: italic; }

/* Addresses styling not present in IE6/7/8/9. */
mark { background: #ff0; color: #000; }

/* Addresses margins set differently in IE6/7. */
p, pre { margin: 1em 0; }

/* Corrects font family set oddly in IE6, S4/5, Chrome. en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
code, kbd, pre, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improves readability of pre-formatted text in all browsers. */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

/* Addresses CSS quotes not supported in IE6/7. */
q { quotes: none; }

/* Addresses `quotes` property not supported in S4. */
q:before, q:after { content: ''; content: none; }

small { font-size: 75%; }

/* Prevents `sub` and `sup` affecting `line-height` in all browsers. gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* ========================================================================== Lists ========================================================================== */
/* Addresses margins set differently in IE6/7. */
dl, menu, ol, ul { margin: 1em 0; }

dd { margin: 0 0 0 40px; }

/* Addresses paddings set differently in IE6/7. */
menu, ol, ul { padding: 0 0 0 40px; }

/* Corrects list images handled incorrectly in IE7. */
nav ul, nav ol { list-style: none; list-style-image: none; }

/* ========================================================================== Embedded content ========================================================================== */
/* 1. Removes border when inside `a` element in IE6/7/8/9, FF3. 2. Improves image quality when scaled in IE7. code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
img { border: 0; /* 1 */ -ms-interpolation-mode: bicubic; /* 2 */ }

/* Corrects overflow displayed oddly in IE9. */
svg:not(:root) { overflow: hidden; }

/* ========================================================================== Figures ========================================================================== */
/* Addresses margin not present in IE6/7/8/9, S5, O11. */
figure { margin: 0; }

/* ========================================================================== Forms ========================================================================== */
/* Corrects margin displayed oddly in IE6/7. */
form { margin: 0; }

/* Define consistent border, margin, and padding. */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/* 1. Corrects color not being inherited in IE6/7/8/9. 2. Corrects text not wrapping in FF3. 3. Corrects alignment displayed oddly in IE6/7. */
legend { border: 0; /* 1 */ padding: 0; white-space: normal; /* 2 */ *margin-left: -7px; /* 3 */ }

/* 1. Corrects font size not being inherited in all browsers. 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome. 3. Improves appearance and consistency in all browsers. */
button, input, select, textarea { font-size: 100%; /* 1 */ margin: 0; /* 2 */ vertical-align: baseline; /* 3 */ *vertical-align: middle; /* 3 */ }

/* Addresses FF3/4 setting `line-height` on `input` using `!important` in the UA stylesheet. */
button, input { line-height: normal; }

/* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Corrects inability to style clickable `input` types in iOS. 3. Improves usability and consistency of cursor style between image-type `input` and others. 4. Removes inner spacing in IE7 without affecting normal text inputs. Known issue: inner spacing remains in IE6. */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ *overflow: visible; /* 4 */ }

/* Re-set default cursor for disabled elements. */
button[disabled], input[disabled] { cursor: default; }

/* 1. Addresses box sizing set to content-box in IE8/9. 2. Removes excess padding in IE8/9. 3. Removes excess padding in IE7. Known issue: excess padding remains in IE6. */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ *height: 13px; /* 3 */ *width: 13px; /* 3 */ }

/* 1. Addresses `appearance` set to `searchfield` in S5, Chrome. 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz` to future-proof). */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */ box-sizing: content-box; }

/* Removes inner padding and search cancel button in S5, Chrome on OS X. */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* Removes inner padding and border in FF3+. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 1. Removes default vertical scrollbar in IE6/7/8/9. 2. Improves readability and alignment in all browsers. */
textarea { overflow: auto; /* 1 */ vertical-align: top; /* 2 */ }

/* ========================================================================== Tables ========================================================================== */
/* Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

html { height: 100%; }

.slide { width: auto; min-height: 100%; position: relative; }

.deck-before, .deck-previous, .deck-next, .deck-after { position: absolute; left: -999em; top: -999em; }

.deck-current { z-index: 2; }

.slide .slide { visibility: hidden; position: static; min-height: 0; }

.deck-child-current { position: static; z-index: 2; }
.deck-child-current .slide { visibility: hidden; }
.deck-child-current .deck-previous, .deck-child-current .deck-before, .deck-child-current .deck-current { visibility: visible; }

@media screen and (max-device-width: 480px) { /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */ }
@media print { * { background: transparent !important; color: black !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; -webkit-box-reflect: none !important; -moz-box-reflect: none !important; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; }
  * :before, * :after { display: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
  .slide { position: static !important; visibility: visible !important; display: block !important; -webkit-transform: none !important; -moz-transform: none !important; -o-transform: none !important; -ms-transform: none !important; transform: none !important; opacity: 1 !important; }
  h1, .vcenter { -webkit-transform: none !important; -moz-transform: none !important; -o-transform: none !important; -ms-transform: none !important; transform: none !important; padding: 0 !important; position: static !important; }
  .deck-container > .slide { page-break-after: always; }
  .deck-container { width: 100% !important; height: auto !important; padding: 0 !important; display: block !important; }
  script { display: none; } }
.container { width: 960px; margin: 0 auto; }

.row { width: 100%; }

.row:before, .row:after { display: table; content: ""; }

.row:after { clear: both; }

[class*="span"] { float: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

.span1 { width: 8.333333333333%; }

.span2 { width: 16.666666666667%; }

.span3 { width: 25%; }

.span4 { width: 33.333333333333%; }

.span5 { width: 41.666666666667%; }

.span6 { width: 50%; }

.span7 { width: 58.333333333333%; }

.span8 { width: 66.666666666667%; }

.span9 { width: 75%; }

.span10 { width: 83.333333333333%; }

.span11 { width: 91.666666666667%; }

.span12 { width: 100%; }

.button { background-color: #248FE0; display: inline-block; font-size: 1.125em; padding: 0.625em 1.375em; box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.3), 2px 2px 3px rgba(0, 0, 0, 0.25); text-align: center; text-decoration: none; font-weight: bold; cursor: pointer; outline: none; overflow: visible; border: 1px solid rgba(0, 0, 0, 0.25); color: #FFF; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)); background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)); background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)); background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)); }

.button:active { box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.2), inset 1px 1px 0 rgba(255, 255, 255, 0.3); }

.button.black { background-color: #333; }

.button.green { background-color: #17A122; }

.button.red { background-color: #D10000; }

/** SASS for my deck.js theme.  @author   Dave Widmer <dwidmer@bgsu.edu> */
body { font-family: "Helvetica Neue", sans-serif; font-size: 24px; background-image: url("../images/crisp_paper_ruffles.png"); color: #333; }
body > article { position: absolute; top: 0; left: 0; bottom: 0; right: 0; padding: 0 2em; }

h1, h2, h3, h4, h5, h6 { margin-top: 0; text-shadow: 0.1em 0.1em 0 #FFF; }

h1, h2, h6 { color: #4385db; }

h3, h4, h5 { color: #156f27; }

h1 { font-size: 3em; }

h2 { padding: 1em 0 3px; border-bottom: 4px solid #4385db; }

.no-style { list-style: none; }

.unpadded { padding: 0; }

.padded { padding: 1em; }

.margined { margin: 1em; }

.unmargined { margin: 0; }

.rounded { border-radius: 0.75em; }

.call-out { background-image: -webkit-linear-gradient(top, white, #e7e7e7); background-image: -moz-linear-gradient(top, white, #e7e7e7); background-image: -ms-linear-gradient(top, white, #e7e7e7); background-image: -o-linear-gradient(top, white, #e7e7e7); text-shadow: 1px 1px 0 #FFF; }
.call-out.bordered { border-width: 0.25em; }

.shadow { box-shadow: 0 0 0.35em #999; }

.float { float: left; }
.float.right { float: right; }

.bgsu { color: #FF7300; }

.secondary { color: #156f27; }

.thin { font-weight: 200; }

.bordered { border-width: 1px; border-style: solid; border-color: #FFF; }

.absolute { position: absolute; }
.absolute.right { right: 0; }
.absolute.bottom { bottom: 0; }
.absolute.bottom.margined { margin-bottom: 2em; }

.vcenter { text-align: center; position: absolute; top: 50%; left: 0; right: 0; -moz-transform: translate(0%, -100%); -webkit-transform: translate(0%, -100%); }

.text-right { text-align: right; }

.vertical-margin { margin: 1em 0; }

.shadow-box { border: 6px solid #FFF; box-shadow: 0 0 1em #999; }

.scale { width: 100%; height: auto; }

[class*="span"] { padding-right: 20px; }

pre { border: 1px solid #BBB; }
pre code { font-size: 0.85em; -moz-tab-size: 2; line-height: 1.5; }

.row [class*="span"]:last-child { padding-right: 0; }

blockquote { border-left: 6px solid #156f27; padding: 0.5em 1em; background-color: #FFF; margin: 0; }
